[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = {git = "https://github.com/pyinstaller/pyinstaller.git"}
paramiko = "*"

[packages]
wmi = "*"
pywin32 = "*"
appdirs = "*"
sqlalchemy = "*"
alembic = "*"
PySide2 = "*"
qtpy = "*"
pyinstaller = "==4.0"

[requires]
python_version = "3.8"
